/* Regular */
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

/* Light */
@font-face {
	font-family: "RobotoLight";
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/Roboto/Roboto-Light.ttf") format("truetype");
}

/* Bold */
@font-face {
	font-family: "RobotoBold";
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}

/* Black */
@font-face {
	font-family: "RobotoBlack";
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/Roboto/Roboto-Black.ttf") format("truetype");
}
