// Variables

    //tipografia
    $f-title: 'RobotoBold', sans-serif;
    $f-regular: 'Roboto', sans-serif;
    $f-bold: 'RobotoBold', sans-serif;

    //colores
    $bg: linear-gradient(white, blue);
    $c-white: #fff;
    $c-gray: #888787;
    $c-letter-one: #2f2f2f;
    $c-letter-two: #fff;
    $c-danger: #cc0000;
    $c-info: green;

    //fuentes 
    $fs-title: 32px;
    $fs-subtitle: 24px;
    $fs-p: 16px;
    $fs-btn: 16px;